body {
  margin: 0;
  color: white;
  background: #222;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  background: red;
}

h1 {
  font-weight: 700;
}

img {
  position: absolute;
}
h1,
h2 {
  margin: 2rem 2rem 1rem;
  padding: 0
}

ul, p {
  margin: 0 2rem 2rem;
  padding: 0
}

a {
  color: white;
}

ul li {
  margin: 0 1rem 0 0;
  padding: 0;
  display: inline-block;
}

.teaser {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 2rem;
}
.teaser h1 {
  margin-top: 0;
  text-transform: uppercase;
}

.teaser .content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
